.permissions-container {
  max-width: 300px;
  max-height: 100px;
  overflow-y: auto;
}

.permissions-badges {
  display: flex;
  flex-wrap: wrap;
}

.badge {
  margin-right: 3px;
  margin-bottom: 3px;
}